<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smarttiger.demos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.smarttiger.demos.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DensityActivity"
            android:label="@string/app_name" >
            <intent-filter android:label="xxx" >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/html" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DrawableSizeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ClickAppActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DefaultOpenActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".FocusWeixinActivity" >
        </activity>
        <activity android:name=".TestSurfaceViewActivity" >
        </activity>
        <activity
            android:name=".FragmentTestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SquenceInfoBarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TypeListViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SpannableActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".VolleyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MaskDrawableActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RouKongDrawableActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OverScrollActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DeskTopActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".HideMxSmartBarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".FitInsideCenterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SuperItemsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".VisibleAnimationActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

</manifest>